body {
    background-color: grey;
    text-align: center;
}

.smiley {
    font-size: x-large;
    border: 2px black solid;
    padding: 10px;
    position: relative;
    display: inline-block;
    background-color: rgb(179, 179, 179);
    border-radius: 10%;
    text-align: center;
    margin: 2%;
}

.smiley:hover {
    cursor: pointer;
}

.smiley:active {
    transform: scale(1.2);
    background: linear-gradient(to top, #dfdddd, rgb(177, 176, 176));
}

.lives {
    font-size: x-large;
    padding: 10px;
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 2%;
}

.hint {
    font-size: x-large;
    padding: 10px;
    position: relative;
    display: inline;
    text-align: center;
    margin: 2%;
}

.hint button {
    font-size: x-large;
    padding: auto;
    position: relative;
    display: inline;
    background-color: transparent;
    text-align: center;
    margin: 2%;
}

.active {
    background-color: rgb(212, 212, 54) !important;
}

.info-container {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    /* Optional: adjust as needed */
    gap: 2%;
}

.clock-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 2px solid black;
    padding: 10px;
    background-color: rgb(179, 179, 179);
}

.timer {
    font-size: x-large;
    gap: 0;
    padding: 15px;
    text-align: center;
    margin: auto;
    display: inline;
}

.timer h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    margin: 10px;
}

.timer h5 {
    border: 2px solid black;
    border-radius: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    padding: 5px;
    margin: 2px;
}




/* .best-score h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    margin: 0;
}
.best-score h5{
    border: 2px solid black;
    border-radius: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    padding: 5px;
    margin: 2px;
}  */

.counter {
    height: min-content;
    width: min-content;
    border: 2px black solid;
    padding: 10px;
    display: inline-block;
    background-color: rgb(179, 179, 179);
    text-align: center;
    margin: 2%;
}

.counter h5 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    margin-top: 0;
}

.counter h6 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    margin-top: 0;
    margin-bottom: 0;
}

.game-over {
    visibility: hidden;
    text-align: center;
    display: block;
    background: linear-gradient(to top, #bfbfbf, gray);
    height: auto;
    width: fit-content;
    margin: auto;
    padding: 5px;
    border: #272727 solid 5px;
    border-radius: 30%;

}

.board-container {
    text-align: center;
    display: inline-block;
    background-color: antiquewhite;
    width: auto;
    height: auto;
    border: 10px solid black;
}

.cell {
    size-adjust: auto;
    position: relative;
    text-align: center;
    width: 50px;
    height: 50px;
    border: 1px solid #a9a9a9;
    background-color: #d1d1d1;
    font-size: auto;

}

.cell::before {
    /* Pseudo-element creates the "cover" */
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #bfbfbf, gray);
    border-spacing: 2px;
    border: 1px solid #808080;
    transition: opacity 0.3s;
}

.cell.hide-before::before {
    opacity: 0;
    pointer-events: none;
}

.cell:hover {
    box-shadow: inset;
    width: 50px;
    height: 50px;
    transform: scale(0.95);
    background-color: rgb(115, 115, 116);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}



.symbol {

    size-adjust: auto;
    position: relative;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    font-size: auto;
    background: linear-gradient(to top, #bfbfbf, gray);
    border-spacing: 2px;
    border: 1px solid #808080;
    z-index: 3;
}

/* .mine {
    size-adjust: auto;
    position: relative;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: auto;
    background: linear-gradient(to top, #bfbfbf, gray);
    border-spacing: 2px;
    border: 1px solid #808080;
    z-index: 2;
} */

.notice {
    display: none;
    position: fixed;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10%;
    font-size: 24px;
    z-index: 9999;
}

.blocking-div {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 20px;
    border-radius: 10%;
    font-size: 24px;
    z-index: 9998;
}

.Difficulty {
    font-size: x-large;
    padding: 10px;
    position: relative;
    display: block;
    border-radius: 10%;
    background-color: transparent;
    text-align: center;
    margin: 2%;
}


.level {
    display: inline;
    cursor: pointer;
}


.level button:active {
    font-size: x-large;
    padding: 10px;
    position: relative;
    display: inline;
    border-radius: 10%;
    transform: scale(0.95);
    background-color: transparent;
    margin: 2%;
}

.footer {
    text-align: center;
    margin: auto;
    margin-top: 2%;
    width: fit-content;
    height: fit-content;
    border: 5px solid black;
    border-radius: 20px;
    padding: 10px;
    background: linear-gradient(to top, rgb(241, 241, 241), rgb(133, 132, 132));
}

.best-scores {
    display: flex;
    /* Keeps all score containers in a row */
    justify-content: center;
    /* Centers them */
    gap: 10px;
    /* Adds space between boxes */
}

.score-container {
    background: linear-gradient(to top, rgb(241, 241, 241), rgb(133, 132, 132));
    width: 150px;
    height: 70px;
    text-align: center;
    padding: 10px;
    border: 5px solid black;
    border-radius: 20px;
    padding: 10px;

}

.score-container h2 {
    font-size: 18px;
    margin: 5px 0;
}

.score-container p {
    font-size: 16px;
    font-weight: bold;
}