body {
    background-color: grey;
    text-align: center;
}

.smaily {
    font-size: x-large;
    border: 2px black solid;
    padding: 10px;
    position: relative;
    display:inline-block;
    background-color: rgb(179, 179, 179);
    text-align: center;
    margin: 10%;
}

.timer {
    border: 2px black solid;
    padding: 10px;
    position: relative;
    display: inline-block;
    background-color: rgb(179, 179, 179);
    text-align: right;
    margin: 10%;
}

.score {
    border: 2px black solid;
    padding: 10px;
    display: inline-block;
    background-color: rgb(179, 179, 179);
    text-align: center;
    margin: 10%;
}

.board-container {
    text-align: center;
    display: inline-block;
    background-color: antiquewhite;
    width: auto;
    height: 100vh auto;
    border: 10px solid black;
}

.cell {
    size-adjust: auto;
    position: relative;
    text-align: center;
    width: 50px;
    height: 50px;
    border: 1px solid #a9a9a9;
    background-color: #d1d1d1;
    font-size: auto;

}
.cell::before {
    z-index: 1;
    content: ""; /* Pseudo-element creates the "cover" */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #bfbfbf, gray);
    border-spacing: 2px;
    border: 1px solid #808080;
    transition: opacity 0.3s; /* Smooth fade effect */
  }

  .cell.hide-before::before {
    opacity: 0;
    pointer-events: none;
  }
  
.cell:hover {
    box-shadow: inset;
    width: 50px;
    height: 50px;
    transform: scale(0.95);
    background-color: rgb(115, 115, 116);
}

img {
    /* visibility: hidden; */

    position: relative;
    width: auto;
    height: auto;
    max-width: 80%;
    text-align: center;
    margin-top: 5px;
}