* {
    box-sizing: border-box;
}

:root {
    /* Colors */
    --bg-main: grey;
    --bg-box: rgb(179, 179, 179);
    --bg-secondary: antiquewhite;
    --bg-dark: #272727;
    --bg-safe: #05596e;
    --bg-score: linear-gradient(to top, rgb(241, 241, 241), rgb(133, 132, 132));
    --border-color: rgb(29, 29, 29);
    --border-light: #808080;
    --highlight-color: rgb(212, 212, 54);

    /* Borders & Radius */
    --border-thin: 2px solid var(--border-color);
    --border-thick: 5px solid var(--border-color);
    --border-radius-small: 8px;
    --border-radius-medium: 10%;
    --border-radius-large: 20px;

    /* content */
    --size-fit: fit-content;
    --size-min: min-content;


    /* Padding & Margin */
    --padding-small: 5px;
    --padding-medium: 10px;
    --padding-large: 15px;
    --margin-small: 2%;
    --gap-medium: 10px;

    /* Font */
    --font-main: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --font-size-small: small;
    --font-size-medium: large;
    --font-size-large: x-large;

    /* Cell */
    --cell-size: 50px;
}

body {
    background-color: var(--bg-main);
    text-align: center;
}

/* Smiley, Lives, Hint */
.smiley {
    font-size: var(--font-size-large);
    padding: var(--padding-medium);
    display: inline-block;
    text-align: center;
    margin: var(--margin-small);
    background-color: var(--bg-box);
    border: var(--border-thin);
    border-radius: var(--border-radius-medium);
}

.lives,
.hint {
    font-size: var(--font-size-large);
    padding: var(--padding-medium);
    display: inline-block;
    text-align: center;
    margin: var(--margin-small);
}

.smiley:hover {
    cursor: pointer;
}

.smiley:active {
    transform: scale(1.2);
    background: linear-gradient(to top, #dfdddd, rgb(177, 176, 176));
}

/* Hint Button */
.hint button {
    font-size: var(--font-size-large);
    background-color: transparent;
    margin: var(--margin-small);
}

/* Info Container */
.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: var(--gap-medium);

}

/* Clock & Timer */
.clock-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-medium);
    border: var(--border-thin);
    border-radius: var(--border-radius-small);
    padding: var(--padding-medium);
    background-color: var(--bg-box);
}

.timer {
    border-radius: var(--border-radius-small);
    font-size: var(--font-size-large);
    padding: var(--padding-large);
    text-align: center;
}

.timer h4,
.timer h5 {
    font-family: var(--font-main);
    margin: var(--padding-small);
}

.timer h5 {
    border: var(--border-thin);
    border-radius: var(--border-radius-small);
    padding: var(--padding-small);
}

/* Counter */
.counter {
    height: min-content;
    width: min-content;
    border: var(--border-thin);
    border-radius: var(--border-radius-small);
    padding: var(--padding-medium);
    display: inline-block;
    background-color: var(--bg-box);
    text-align: center;
    margin: var(--margin-small);
}

.counter h5,
.counter h6 {
    font-family: var(--font-main);
    margin-top: 0;
}

.counter h6 {
    font-size: var(--font-size-medium);
    margin-bottom: 0;
}

/* Game Over */
.game-over {
    visibility: hidden;
    text-align: center;
    display: block;
    background: linear-gradient(to top, #bfbfbf, gray);
    width: fit-content;
    margin: auto;
    padding: var(--padding-small);
    border: var(--border-thick);
    border-radius: var(--border-radius-medium);
}

/* Board & Cells */
.board-container {
    text-align: center;
    display: inline-block;
    background-color: var(--bg-secondary);
    width: auto;
    height: auto;
    border: 10px solid var(--border-color);
}

.cell {
    position: relative;
    text-align: center;
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid #a9a9a9;
    background-color: #d1d1d1;
}

.cell::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #bfbfbf, gray);
    border: 1px solid var(--border-light);
    transition: opacity 0.3s;
}

.cell.hide-before::before {
    opacity: 0;
    pointer-events: none;
}

.cell:hover {
    transform: scale(0.95);
    background-color: rgb(115, 115, 116);
}

/* Images */
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

/* Symbols */
.symbol {
    position: relative;
    width: var(--cell-size);
    height: var(--cell-size);
    background: linear-gradient(to top, #bfbfbf, gray);
    border: 1px solid var(--border-light);
    z-index: 3;
}

/* Notice & Blocking Div */
.notice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* toggle to 'block' when showing the notice */
    position: fixed;
    top: 18%;
    left: 50%;
    height: 50vw;
    width: 50vw;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: var(--padding-large);
    border-radius: var(--border-radius-medium);
    font-size: var(--font-size-medium);
    z-index: 10000;
    /* higher than blocking-div */
}


.notice h4,
.notice h5 {
    font-size: 3vw;  /* Scale with viewport width */
    width: 100%;     /* Stretch to fill width */
    flex-grow: 1;    /* Allow the text to take up available space */
    display: flex;
    justify-content: center;
    align-items: center
}

.blocking-div {
    display: none;
    /* toggle to 'block' when needed */
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 9999;
    /* lower than .notice */
}

.blocking-div {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
}

/* Difficulty Selection */
.Difficulty {
    font-size: var(--font-size-large);
    padding: var(--padding-medium);
    display: block;
    border-radius: var(--border-radius-medium);
    background-color: transparent;
    text-align: center;
    margin: var(--margin-small);
}

.level {
    display: inline;
    cursor: pointer;
}

.level button:active {
    font-size: var(--font-size-large);
    padding: var(--padding-medium);
    display: inline;
    border-radius: var(--border-radius-medium);
    transform: scale(0.95);
    background-color: transparent;
    margin: var(--margin-small);
}

/* Dark Mode */
.dark-mode {
    cursor: pointer;
    display: inline-block;
    background-color: var(--bg-dark);
}

.bonus-buttons {
    display: block;
}

.safe-click {
    cursor: pointer;
    display: inline-block;
    background-color: var(--bg-safe);

}

/* Footer */
.footer {
    text-align: center;
    margin: auto;
    margin-top: var(--margin-small);
    width: fit-content;
    height: fit-content;
    border: var(--border-thick);
    border-radius: var(--border-radius-large);
    padding: var(--padding-medium);
}

.best-scores {
    display: flex;
    justify-content: center;
    gap: var(--gap-medium);
}

/* Scoreboard */
.score-container {
    background: var(--bg-score);
    width: var(--size-min);
    height: var(--size-min);
    text-align: center;
    padding: var(--padding-medium);
    border: var(--border-thick);
    border-radius: var(--border-radius-large);
}

.score-container h2 {
    font-size: 18px;
    margin: var(--padding-small);
}

.score-container p {
    font-size: 16px;
    font-weight: bold;
}